@model IEnumerable<HeapOverflow.Models.CategoryModel>

@{
    ViewBag.Title = "Index";
}



<div class="container category-container">
    <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
            <thead>
                @if (Session["role"].ToString() == "3")
                {
                    @Html.ActionLink("Create New Category", "Create", null, new { @class = "btn btn-primary btn-xs pull-right" })

                }
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.categoryName)
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.RouteLink(item.categoryName, new { controller = "Posts", action = "Index", id = item.id })
                    </td>
                    <td>
                        @if (Session["role"].ToString() == "3")
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        }
                    </td>

                </tr>
            }
            

        </table>
    </div>
</div>
