@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>


<div class="row">

    <h1 class="big-dickus">HeapOverflow</h1>
    <img src="@Url.Content("~/Content/morisi.png")" alt="Alternate Text" />
</div>